dotenv
ffmpeg-python
gpt4all
transformers
memory-profiler>=0.61.0
numpy
openai-whisper
psutil>=5.9.0
py-cord[voice]
reloadium
scipy
soundfile
torch
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-ollama==0.3.0
langchain-text-splitters==0.3.8